<app-menu></app-menu>
<div>
    <div>
    <span>Product List</span> |
    <span><a routerLink="/products/create">Create</a></span> |
    <span><input [(ngModel)]="searchCriteria" type="text" placeholder="Search"></span>
    </div>
    <table class = "table table-sm">
    <thead>
        <tr>
            <th>Part Number</th>
            <th>Product Name</th>
            <th>Price</th>
            <th>Unit(s)</th>
            <th>Photopath</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of products">
        <td>{{product.partNumber}}</td>
        <td>{{product.name}}</td>
        <td>{{product.price | currency}}</td>
        <td>{{product.unit}}</td>
        <td>{{product.photoPath}}</td>
        <td>
            <a routerLink="/products/detail/{{product.id}}">Detail</a> |
            <a routerLink="/products/edit/{{product.id}}">Edit</a>
        </td>
    </tr>
    </tbody>
    </table>  
</div>
