<app-menu></app-menu>
<div>
    <div>
        <span>User List</span>

    </div>
    <table class = "table table-sm">
    <thead>
        <tr>
            <th>Id</th>
            <th>UserName</th>
            <th>Fullname</th>
            <th>Phone</th>
            <th>Email</th>
            <th>Reviewer</th>
            <th>Admin</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users">
        <td>{{user.id}}</td>
        <td>{{user.username}}</td>
        <td>{{user.firstName}} {{lastName}}</td>
        <td>{{user.phone}}</td>
        <td>{{user.email}}</td>
        <td>{{user.review}}</td>
        <td>{{user.admin}}</td>
    </tr>
    </tbody>
    </table>  
</div>
