<app-menu></app-menu>
<div>
    <span>Product Edit</span>
    <div>
    <table class="table table=sm" *ngIf="product">
        <tr>
            <th>Id</th>
            <td>
                <input [(ngModel)]="product.id" type="number" disabled>
            </td>
        </tr>
        <tr>
            <th>Part Number</th>
            <td>
                <input [(ngModel)]="product.partNumber" type="text">
            </td>
        </tr>
        <tr>
            <th>Product Name</th>
            <td>
                <input [(ngModel)]="product.name" type="text">
            </td>
        </tr>
        <tr>
            <th>Price</th>
            <td>
                <input [(ngModel)]="product.price" type="number">
            </td>
        </tr>
        <tr>
            <th>Unit(s)</th>
            <td>
                <input [(ngModel)]="product.unit" type="number">
            </td>
        </tr>
        <tr>
            <th>Photopath</th>
            <td>
                <input [(ngModel)]="product.photoPath" type="text">
            </td>
        </tr>
        <th>Select Vendor</th>
            <td>
                <select [(ngModel)]="product.vendor" [compareWith]="comptFn">
                <option *ngFor="let vendor of vendors"
                [ngValue]="vendor">{{vendor.name}}</option>
                </select>
            </td>
    </table>
    <button (click)="save()" class="btn btn-primary">Save</button>
    </div>
</div>
