<app-menu></app-menu>
<div>
    <div>
    <span>Request Lines Review</span>
    </div>
    <table class = "table table-sm">
    <thead>
        <tr>
            <th>Id</th>
            <th>Description</th>
            <th>Status</th>
            <th>Total</th>
            <th>User</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let request of requests">
        <td>{{request.id}}</td>
        <td>{{request.description}}</td>
        <td>{{request.status}}</td>
        <td>{{request.total | currency}}</td>
        <td>{{request.user.username}}</td>
        </tr>
    </tbody>
    </table>
    <div>
        <div>
            <span>Purchase Request Approve/Reject</span>
        </div>
            <table class = "table table-sm">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Product</th>
                    <th>Quantity</th>
                    <th>Price</th>
                    <th>Line Total</th>
            </tr>
            </thead>
            <tbody>
                <tr *ngFor="let requestline of requestlines">
                <td>{{requestline.id}}</td>
                <td>{{requestline.product.name}}</td>
                <td>{{requestline.quantity}}</td>
                <td>{{requestline.product.price | currency}}</td>
                <td>{{requestline.product.price * requestline.quantity | currency}}</td>
            </tr>
            </tbody>
            </table>  
    </div>
    <div>
        <a routerLink="Approve()">Approve</a> |
        <a routerLink="Reject()">Reject</a>
        <span *ngIf="showReject">
            <input [(ngModel)]= "request.rejectionReason" type="text" placeholder="Enter Rejection Reason">
            <a routerLink="verify(request.id)">REJECT!!</a>
        </span>
    </div>
</div>
